p {
    font-size: 24px;
}

p2 {
    font-size: 18px;
}

button{
    background-color: blue;
    color: white;
    font-size: 22.5px;
}

.details-content {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 5px;
  }

  .details-title {
    cursor: pointer;
    background: #f0f0f0;
    padding: 5px 10px;
    border: 1px solid #ddd;
  }

  .details-title:hover {
    background: #e0e0e0;
  }
