p {
    font-size: 24px;
}

p2 {
    font-size: 18px;
    color: black
}

button{
    background-color: blue;
    color: white;
    font-size: 22.5px;
}

.details-content {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 5px;
  }

  .details-title {
    cursor: pointer;
    background: #79857d;
    padding: 5px 10px;
    border: 1px solid #ddd;
  }
.details-title:hover {
  background: #545754; 
}

body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}